.icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  mat-card{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
  }

  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-form-field{
    width: 100%;
  }

  mat-card-actions{
    text-align: center;
  }
  .submitButton{
background-color: #4bc970;
color: white;
  }
  .resetButton{
    background-color: #ff635d;
    color: white;
  }