.icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .container{
    margin: 1vw;  
  }

  .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  mat-row:hover{
    background-color: #69f387bb;

  }